.main__product {
  background-image: url(images/ubersicht-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  display: flex;
}

.main__product__img {
  flex-basis: 50%;
}
