.main__products-overview {
  padding: 80px;
  text-align: center;
  background-image: url(images/ubersicht-background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.main__products-overview h1 {
  text-transform: uppercase;
  font-family: "Bodoni-MT-Black", serif;
  font-size: 30px;
  letter-spacing: 3px;
}

.blue {
  background-color: #dcf4ff !important;
}

.img-border {
  border: 1px solid #535353;
}

.top {
  padding-top: 80px;
}
