/* ####### FONTS ###### */
@font-face {
  font-family: "Assistant-Bold";
  src: url("../../Resources/fonts/Assistant-Bold.ttf");
}

@font-face {
  font-family: "Assistant-Regular";
  src: url("../../Resources/fonts/Assistant-Regular.ttf");
}

@font-face {
  font-family: "Bodoni-MT-Black";
  src: url("../../Resources/fonts/BodoniMTblack.ttf");
}

@font-face {
  font-family: "ArterioNonCommercial";
  src: url("../../Resources/fonts/ArterioNonCommercial.otf");
}

/* ######## GENERAL ####### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 14px;
  font-family: "Assistant-Regular", sans-serif;
}

.error {
  font-family: "Assistant-Regular", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgb(237, 120, 120);
  padding: 3px;
  border-radius: 3px;
}

.success {
  font-family: "Assistant-Regular", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgb(125, 213, 98);
  background-color: #fff;
  padding: 3px;
  border-radius: 3px;
  text-align: center;
}

/* ########################################## HEADER ####################################### */
.header {
  background-color: #dcf4ff;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

.header__one {
  display: flex;
  justify-content: space-between;
  padding: 14px 80px;
}

.header__one__search {
  width: 300px;
}

.header__one__search form {
  display: flex;
  justify-content: space-between;
}

.search {
  width: 100%;
  border: 1px solid #535353;
  color: #535353;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

.search-bttn {
  background: none;
  border: none;
}

.header__one__right {
  display: flex;
}

.header__one__link {
  padding-left: 20px;
}

.header__one__link a {
  font-family: "Assistant-Regular", sans-serif;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 14px 350px;
}

nav a {
  font-family: "Assistant-Bold", sans-serif;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.main__nav__button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  margin: -1px;
}

.main__nav__burger {
  display: none;
}

@media (max-width: 1200px) {
  nav {
    padding: 14px 250px;
  }
}

@media (max-width: 960px) {
  .header__one__search {
    width: fit-content;
  }
  .search {
    font-size: 14px;
  }

  nav {
    padding: 14px 150px;
  }

  .logo {
    font-size: 24px;
  }
}
@media (max-width: 760px) {
  .header__one {
    padding: 14px 40px;
  }
  .header__one__link {
    padding-left: 0;
  }

  .header__one__link:first-child {
    padding-left: 20px;
  }

  .header__one__link a {
    font-size: 14px;
  }

  nav {
    padding: 14px 80px;
  }
}
@media (max-width: 660px) {
  nav a {
    display: none;
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }
  .main__nav__burger {
    display: block;
  }

  .header {
    flex-direction: column;
  }
}
/* ########################################## MAIN ###################### */

.main__products-overview {
  background-image: url("../../Resources/images/ubersicht-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  text-align: center;
}

.main__products-overview h1 {
  text-transform: uppercase;
  font-family: "Bodoni-MT-Black", serif;
  font-size: 30px;
  letter-spacing: 3px;
}

.main__cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.card {
  margin-top: 50px;
}

.card p {
  font-family: "ArterioNonCommercial", serif;
  font-size: 16px;
  text-align: center;
}

.card_name {
  padding-top: 15px;
  padding-bottom: 15px;
}

.card_name a {
  text-decoration: none;
  color: #000;
}

.basket-bttn {
  border-radius: 5px;
  border: none;
  padding: 8px 20px;
  margin-top: 10px;
  background-color: #ffc4ac;
  font-size: 14px;
  font-family: "Assistant-Bold", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.blue {
  background-color: #dcf4ff !important;
}

.img-border {
  border: 1px solid #535353;
  border-radius: 5px;
}

.top {
  padding-top: 80px;
}

@media (max-width: 1200px) {
  .main__product__img {
    flex-basis: 50%;
  }

  .main__cards {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 960px) {
  .main__cards {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 760px) {
  .main__products-overview {
    padding: 40px;
  }
  .img-window {
    width: 150px;
    height: 150px;
  }

  .main__cards {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 660px) {
  .main__cards {
    display: grid;
    grid-template-columns: auto auto;
  }
}

/* ####################################### DETAIL PAGE ################################# */
.main__product {
  background-image: url(../../Resources/images/ubersicht-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  display: flex;
}

.main__product__img {
  flex-basis: 80%;
}

.img-size {
  width: 50%;
}

.product-name {
  font-family: "Bodoni-MT-Black", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
}

.price {
  font-family: "Bodoni-MT-Black", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.cart-bttn-wide {
  border-radius: 5px;
  border: none;
  padding: 10px 40px;
  /* margin-top: 10px; */
  background-color: #dcf4ff;
  font-size: 18px;
  font-family: "Assistant-Bold", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.description {
  font-family: "Assistant-Regular", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* ####################################### USER PROFILE ################################# */
.userProfile-background {
  padding: 80px;
  text-align: center;
  background-image: url("../../Resources/images/login-reg-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.userProfile-title {
  display: block;
  margin-bottom: 30px;
  font-family: "Assistant-Regular", sans-serif;
  font-size: 30px;
}

.userProfile-cards {
  display: flex;
  justify-content: space-around;
}

.userProfile-card {
  background-color: #dcf4ff;
  padding: 40px;
  border-radius: 15px;
  width: 35%;
  margin-bottom: 40px;
}

.userProfile-card h3 {
  font-family: "Assistant-Regular", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.userProfile-text {
  font-family: "Assistant-Regular", sans-serif;
  font-size: 16px;
}

.left-align {
  float: left;
}

.userProfile-link {
  background-color: #ffc4ac;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Assistant-Regular", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  padding: 8px 25px;
  cursor: pointer;
}

.userProfile-card input[type="text"],
.userProfile-card input[type="password"],
.userProfile-card input[type="email"] {
  border: 1px solid #535353;
  border-radius: 5px;
  background-color: #fff;
  color: #535353;
  padding: 5px;
  margin: 8px 0;
}

.userProfile-card__input {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 16px;
  font-family: "Assistant-Regular", sans-serif;
}

.userProfile-card__save-bttn {
  background-color: #ffc4ac;
  border: none;
  border-radius: 5px;
  padding: 6px;
  margin: 8px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Assistant-Regular", sans-serif;
  font-weight: 700;
  cursor: pointer;
  width: 45%;
  display: flex;
  justify-content: center;
  align-self: center;
}

/*  ####################################### USERS TABLE ################################# */
#users {
  font-family: "Assistant-Regular", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td,
#users th {
  border: 1px solid #535353;
  padding: 8px;
}

#users tr:hover {
  background-color: #ffc4ac;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #dcf4ff;
  color: #000;
}

.action {
  text-decoration: none;
  color: #000;
  background-color: #dcf4ff;
  padding: 5px;
  border-radius: 5px;
}
/* ####################################### ADMIN ################################# */
.admin-background {
  padding: 80px;
  background-image: url("../../Resources/images/login-reg-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .admin-title {
  display: block;
  margin-bottom: 30px;
  font-family: "Assistant-Regular", sans-serif;
  font-size: 30px;
} */

.admin-links {
  display: flex;
  justify-content: space-around;
}

.admin-link {
  text-decoration: none;
  color: #000;
  background-color: #ffc4ac;
  border-radius: 5px;
  padding: 8px 30px;
  font-size: 18px;
  font-family: "Assistant-Regular";
  text-transform: uppercase;
  margin-top: 30px;
}

.center {
  margin: 0 auto;
}

.top {
  margin-top: 30px;
}

/* ####################################### CONFIRMATION ################################# */
.confirmation {
  font-family: "Assistant-Regular", sans-serif;
  padding: 80px;
  background-image: url("../../Resources/images/login-reg-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.confirmation-card {
  background-color: #fff;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  padding: 20px 0;
}
.confirmation-header {
  font-family: "Assistant-Bold", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.confirmation-body {
  padding: 10px 0;
}

.confirmation-footer {
  padding-top: 10px;
}

.delete-bttn {
  color: #000;
  background-color: #ffc4ac;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.cancel-bttn {
  color: #000;
  background-color: #dcf4ff;
  padding: 5px 20px;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
/* ####################################### FOOTER ################################# */
.footer__newsletter {
  padding: 30px 80px;
  background-image: url("../../Resources/images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__newsletter p {
  padding-top: 10px;
  padding-bottom: 25px;
}

.email {
  padding: 7px 8px;
  border: 1px solid #dcf4ff;
  color: #535353;
  font-size: 14px;
  font-family: "Assistant-Regular", sans-serif;
  width: 350px;
}

.subscribe-bttn {
  background-color: #000;
  color: #dcf4ff;
  font-family: "Assistant-Bold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 20px;
  border-style: none;
  border-radius: 5px;
  letter-spacing: 1px;
}

.subscribe-bttn:hover {
  background-color: #dcf4ff;
  color: #000;
  border: 1px solid #000;
}
.footer__socialmedia {
  background-color: #fff;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
}

.bodoni-font {
  font-family: "Bodoni-MT-Black", serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.social-media {
  list-style-type: none;
  display: flex;
  fill: #000;
}

.social-media li {
  padding-left: 60px;
}

.footer__info {
  background-color: #dcf4ff;
  padding: 40px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__info h3 {
  font-family: "Bodoni-MT-Black", serif;
  font-size: 20px;
  text-transform: uppercase;
}

.footer__info__text {
  display: flex;
  flex-direction: row;
}
.footer__info__links {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.footer__info__links a {
  font-family: "Assistant-Regular", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  padding: 3px 0;
}

.footer__info__links a:hover {
  text-decoration: underline;
}
.footer__copyright {
  background-color: #fff;
  font-family: "Assistant-Regular", sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0 !important;
}

/* Stella */

@media (max-width: 1000px) {
  .social-media {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 740px) {
  .footer__info h3 {
    font-size: 18px;
  }

  .social-media li {
    padding: 0;
    padding-top: 10px;
  }

  .footer__info__links {
    padding-left: 50px;
    width: 100px;
    margin-top: 15px;
    margin-left: 60px;
  }

  .footer__info__links a {
    font-size: 12px;
    padding: 2px 0;
  }

  .footer__info h3 {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .email {
    width: 250px;
  }

  .footer__socialmedia {
    flex-direction: column;
  }

  .footer__info {
    flex-direction: column;
    margin: auto;
  }

  .footer__info__links {
    width: 120px;
    padding-left: 0px;
    margin-top: 15px;
    margin-left: 60px;
  }

  .footer__info__text {
    flex-direction: column;
  }
}
